.App {
  text-align: center;
}

.Nav-link {
  padding: 2rem;
}

.nav-item {
  margin-top: 1rem;
}

h1{
  color: navy;
}

a{
  color: black;
}

/* a.active{
  color: blue;
  font-weight: bold;
} */

.active{
  color: red;
  font-weight: bold;
}